{% extends 'Smith981NewsboxBundle::base.html.twig' %}

{% block title %}
{{ parent() }} - Issue {{ 'views.show.show'|trans({}, 'Smith981CrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div id="content">

<h1>Issue</h1>

<form class="form-horizontal">
    <fieldset>        
        <div class="control-group">
            <label class="control-label">ID</label>
            <div class="controls"><span class="input-xlarge uneditable-input">{{ entity.id }}</span>            
        </div>
        </div>        
        <div class="control-group">
            <label class="control-label">Created</label>
            <div class="controls"><span class="input-xlarge uneditable-input">{{ entity.created|date('Y-m-d H:i:s') }}</span></div>
        </div>        
        <div class="control-group">
            <label class="control-label">Image URL</label>
            <div class="controls"><span class="input-xlarge uneditable-input">{{ entity.image }}</span></div>
        </div>        
        <div class="control-group">
            <label class="control-label">Published Date</label>
            <div class="controls"><span class="input-xlarge uneditable-input">{{ entity.publishedDate|date('Y-m-d H:i:s') }}</span></div>
        </div>        
        <div class="control-group">
            <label class="control-label">Status</label>
            <div class="controls"><span class="input-xlarge uneditable-input">{{ entity.status }}</span></div>
        </div>    
    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('issue') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'Smith981CrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('issue_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'Smith981CrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('issue_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'Smith981CrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'Smith981CrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
</div>
{% endblock %}